<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootlegger connects fans together in realtime to act as a coordinated camera crew.
It produces high quality, content rich footage with no expense">
    <meta name="author" content="Bootlegger.tv">
    <meta name="google-site-verification" content="9VV37JlFo9nMYNnmxw_iMZ0uEeONLE59qc7m4rzDUQ4" />
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>Bootlegger</title>
 <!--<script src="/static/min/production.js"></script>-->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!--<link rel="stylesheet" href="/static/min/production.css">-->
<!--SCRIPTS-->
<script src="/js/dependencies/1sails.io.js"></script>
<script src="/js/dependencies/2jquery-2.0.3.min.js"></script>
<script src="/js/dependencies/3angular.min.js"></script>
<script src="/js/angular-animate.min.js"></script>
<script src="/js/angular-google-maps.min.js"></script>
<script src="/js/angular-loading-spinner.js"></script>
<script src="/js/angular-sanitize.min.js"></script>
<script src="/js/angular-spinner.min.js"></script>
<script src="/js/angular-ui-sortable.js"></script>
<script src="/js/app.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-switch.min.js"></script>
<script src="/js/bootstrap-tokenfield.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstro.min.js"></script>
<script src="/js/checklist-model.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/handlebars-v1.1.2.js"></script>
<script src="/js/holder.min.js"></script>
<script src="/js/jasny-bootstrap.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.knob.min.js"></script>
<script src="/js/lodash.min.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/ngStorage.min.js"></script>
<script src="/js/ngsails.io.js"></script>
<script src="/js/script.js"></script>
<script src="/js/skrollr.min.js"></script>
<script src="/js/slider.js"></script>
<script src="/js/spin.min.js"></script>
<script src="/js/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
<script src="/js/ui-grid.min.js"></script>
<script src="/js/videogular.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/styles/bootstrap-switch.css">
<link rel="stylesheet" href="/styles/bootstrap-tokenfield.css">
<link rel="stylesheet" href="/styles/bootstro.css">
<link rel="stylesheet" href="/styles/carousel.css">
<link rel="stylesheet" href="/styles/datepicker.css">
<link rel="stylesheet" href="/styles/ekko-lightbox.min.css">
<link rel="stylesheet" href="/styles/jasny-bootstrap.min.css">
<link rel="stylesheet" href="/styles/jquery-ui.css">
<link rel="stylesheet" href="/styles/paper-bootstrap.css">
<link rel="stylesheet" href="/styles/ui-grid.min.css">
<link rel="stylesheet" href="/styles/x_app.css">
<!--STYLES END-->

    
    <script>
    <% if (user) { %>
    var localcode = '<%=user.localcode%>';
    <% } else { %>
      var localcode = '';
      <%}%>
    </script>

    <script id="eventlist-template" type="text/x-handlebars-template">
    <li><p style="margin-top:-5px;" class="bg-primary menuitem">My Shoots</p></li>
      {{#each myevents}}
      <li>
      {{#if this.default_event}}
      <a href="/event/view/{{this.id}}">{{this.name}} <i class="glyphicon glyphicon-star pull-right"></i></a>
      {{else}}
      <a href="/event/view/{{this.id}}">{{this.name}}</a>
      {{/if}}
      </li>
      {{else}}
      <li><a href="#" ><span class="text-muted">no shoots owned</span></a></li>
      {{/each}}
      <li><p class="bg-primary menuitem" style="margin-top:10px;">Participating In</p></li>
      {{#each codeevents}}
      <li><a href="/watch/{{ this.id}}">{{this.name}}</a></li>
      {{else}}
      <li><a href="#" ><span class="text-muted">no shoots joined</span></a></li>
      {{/each}}
      <li>&nbsp;</li>
      <li>
      <div class="input-group" style="padding:3px 5px;">
      <input type="text" id="mycode" class="form-control" placeholder="Join Code">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="registercode()">Go!</button>
      </span>
      </li>
      
    </script>
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <div class="header row" style="position:relative;margin-bottom:18px;height:auto">          

          <% if (user) { %>
          <div data-bootstro-title="Your Profile Information" data-bootstro-content="List shoots you are part of, and logout of Bootlegger." data-bootstro-placement="bottom" class="bootstro alert alert-info" style="display:inline-block;float:right;min-width:230px;">
            <img style="border-radius:30px;float:left;width:60px;height:60px;margin-left:-5px;margin-top:-5px;margin-right:10px;margin-bottom:-10px;" src="<%= user.profile._json.picture %>?sz=60" />
            <!-- <i style="opacity:0.5;float:left;font-size:40pt;margin-left:-5px;margin-top:-3px;margin-right:10px;margin-bottom:-10px;" class="glyphicon glyphicon-user"></i> -->
            <span class="lead">Hello <%= user.profile.name.givenName %>!</span><br>
            <div class="dropdown" style="display:inline-block">
              <a href="#" id="myeventsbtn" data-toggle="dropdown">my shoots <span class="caret"></span></a>
              <ul class="dropdown-menu" style="z-index:3000" role="menu" id="eventlist">
                <li class="loading"></li>
              </ul>
            </div>

            <!-- | <a id="offlineaccess" data-container="body" data-toggle="popover" style="cursor:pointer" data-title="Offline Access" data-placement="bottom">offline access</a>
 -->
             | <a href="/auth/logout">logout</a>
          </div>
          <% } %>

          <div class="hidden-xs" style="float:right;display:inline-block;width:150px;padding-top:8px;text-align:center;margin-bottom:8px;">
            <a href="https://play.google.com/store/apps/details?id=uk.ac.ncl.di.bootlegger"><img style="margin-bottom:5px;" alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" /></a>
<br>
            <a href="/howtobootleg">How to Use the App</a>
          </div>

         
          <div style="position:absolute;right:0;bottom:-25px;">

<% if (typeof showhelp == 'undefined') { %>
            <a href="#" class="text-muted" onclick="bootstro.start('.bootstro',{stopOnBackdropClick:false});"><i class="fa fa-question-circle"></i> How do I use this page?</a>
            <% } %>
            <% if (user && user.profile.emails[0].value == sails.config.admin_email) { %>  | <a class="text-muted" href="/event/admin"><i class="fa fa-cog"></i> Adminstration</a><% } %>
          </div>
        </div>

        

      <% if (user) { %>

      <div style="margin-bottom:10px;">
        <% if(event.name != "") { %>
        <h2 id="title" class="bootstro" data-bootstro-title="Current Shoot Title" data-bootstro-content="The title of the shoot you are currently working on." data-bootstro-placement="bottom"><span><%= event.name %></span> <a style="font-size:10pt;padding-bottom:10px;vertical-align:middle" href="#" onclick="edittitle();"><i class="glyphicon glyphicon-pencil"></i></a></h2> 
        <% } %>
      </div>
      <% } %>
     
      </div>
      </div> <!-- /container -->

      <div class="container" style="padding-top:10px;">
        <% if(flash && flash.msg) { %>
        <ul class="myalert alert alert-info">
          <li><%- flash.msg %></li>
        </ul>
        <br>
        <% } %>

        <% if(flash && flash.err) { %>
        
          <% if (flash.err instanceof Array) { %>
          <ul class="myalert alert alert-danger">
          <% Object.keys(flash.err).forEach(function(error){ %>
            <script>
              $(function()
              {
                $('[name=<%= flash.err[error].name %>]').tooltip(
                  {
                    trigger:'manual',
                    title:'<%= flash.err[error].msg %>'
                  });
                $('[name=<%= flash.err[error].name %>]').tooltip('show');
              });
            </script>
            <li><%- flash.err[error].msg %></li>
          <% }); %>
          </ul>
          <% } else { %>
          <div class="myalert alert alert-danger"><%- flash.err.msg %></div>
          <% }} %>

<div class="row">

<% if (typeof showhelp == 'undefined') { %>
<!-- start menu div -->
<div class="col-md-2" style="margin-bottom:20px;padding-bottom:20px;">
<div data-spy="affix" data-offset-top="145" style="top:20px;">
<% if (event.name) { %>
<div class="list-group bootstro" data-bootstro-title="Shoot Menu" data-bootstro-content="Main settings for your shoot. These steps occur in order, ending with you exporting your video to Dropbox." data-bootstro-placement="right" >
<a class="list-group-item list-group-item-info" style="background:#d9edf7;color:#31708f" href="#">Shoot Checklist</a>
<a style="color:silver;" class="list-group-item mainmenu <% if (page=='commission') { %>active<%}%>" href="/commission">Commission 
  <% if (event.iscommission){ %>
    <i class="fa fa-fw fa-check fa-lg pull-right"></i>
    <% } else { %>
    <i class="fa fa-fw fa-clock-o fa-lg pull-right text-muted"></i>
    <% } %>
</a>
<a class="list-group-item mainmenu <% if (page=='event') { %>active<%}%>" href="/event/view">Prepare 
  <% if (event.isprepare){ %>
    <i class="fa fa-fw fa-check fa-lg pull-right"></i>
    <% } else { %>
    <i class="fa fa-fw fa-clock-o fa-lg pull-right text-muted"></i>
    <% } %></a>
<a class="list-group-item mainmenu text-muted <% if (page=='shoot') { %>active<%}%>" href="/shoot">Shoot 
  <% if (event.isshoot){ %>
    <i class="fa fa-fw fa-check fa-lg pull-right"></i>
    <% } else { %>
    <i class="fa fa-fw fa-clock-o fa-lg pull-right text-muted"></i>
    <% } %>
  </a>
  <a class="list-group-item mainmenu text-muted <% if (page=='watch') { %>active<%}%>" href="/watch">Watch 
  <% if (event.ispost){ %>
    <i class="fa fa-fw fa-check fa-lg pull-right"></i>
    <% } else { %>
    <i class="fa fa-fw fa-clock-o fa-lg pull-right text-muted"></i>
    <% } %></a>
<a class="list-group-item mainmenu text-muted <% if (page=='post') { %>active<%}%>" href="/post">Export 
  <% if (event.ispost){ %>
    <i class="fa fa-fw fa-check fa-lg pull-right"></i>
    <% } else { %>
    <i class="fa fa-fw fa-clock-o fa-lg pull-right text-muted"></i>
    <% } %></a>
    
</div>

<script>
  $(function(){
    var items = '';
    $('#mainbody .page-header:not(.exclude) h1').each(function(){
      $(this).before('<a name="'+$(this).clone().children().remove().end().text().toString().replace(/\s+/g,'_').toLowerCase()+'"></a>');
      items += '<li><a href="#'+$(this).clone().children().remove().end().text().toString().replace(/\s+/g,'_').toLowerCase()+'">' + $(this).clone().children().remove().end().text() + '</a></li>';
    });

    $('.mainmenu.active').after('<div class="list-group-item"><ul class="sublist">' + items + '</ul></div>');
  });
</script>
<%}%>

<a class="btn btn-success" style="width:100%;margin-bottom:15px;" href="/commission/new"><span class="glyphicon glyphicon-plus pull-left"></span> Start New Shoot</a>
<a class="btn btn-primary" style="width:100%;margin-bottom:15px;" href="http://community.bootlegger.tv"><span class="fa fa-users pull-left"></span> Community</a>

<% if (event.name) { %>
<script>
var mastereventname = "<%- event.name %>";
var mastereventid = "<%- event.id %>";
</script>
<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
<script src="/cast/playlist_sender.js"></script>
  <div id="cast_wrapper" style="display:none;" >
    <a tabindex="0" class="btn btn-default" style="width:100%;" role="button" data-html="true" data-toggle="popover" data-placement="top" data-trigger="click" id="chromecast" title="Chromecast"><img src="/cast/images/cast_icon_idle.png" style="width:1.5em;float:left;"/> Cast Event</a>
    <div style="display:none;">
    <div id="cast_content">
      <div style="width:100%;">
        <img style="opacity:0.7;float:left;margin-left:-5px;margin-top:-5px;margin-right:10px;" src="/cast/images/cast_icon_idle.png" id="casticon" />
        <span id="playerstate" style="margin-top:12px;float:right;" class="badge">IDLE</span>
      </div>
      <div style="clear:both;">
          <a onclick="launchApp()" href="#">cast event</a> | <a onclick="stopApp()" href="#">stop cast</a>
      </div> 
        <button id="playpauseresume" onclick="playMedia()" style="display:none;">Play</button>
      <div style="width:100%;position:absolute;left:0;bottom:0;background:rgba(255,255,255,0.4);">
        <div id="progress" style="background:#428bca;opacity:0.6;transition: width 1s linear;height:5px;width:0;padding:0;margin:0;"></div>
      </div>
      <textarea rows="20" cols="70" id="debugmessage" style="display:none;">
      </textarea>
    </div>
  </div>
</div>
<% } %>

</div>
</div>
<% } %>
<% if (typeof showhelp == 'undefined') { %>
<div class="col-md-10">
<% } else { %>
<div class="col-md-12">
<% } %>

  <% if (notonthisserver) { %>
            <div class="jumbotron">
  <h1>Out for Lunch!</h1>
  <p><div class="">This event is not hosted on this server, try connecting to the correct server (you should have been redirected)</div></p>
</div>
            
            <% } else { %>
            <div id="mainbody">
          <%- body %>
        </div>
          <%}%>
        </div>


    </div>
      </div>

 <div class="container">
      <!-- Site footer -->
      <div class="footer text-muted" style="min-height:100%;">
        <a class="text-muted" href="/howtobootleg">Help</a> | <a class="text-muted" href="https://github.com/digitalinteraction/bootlegger-server">Bootlegger on GitHub</a> |  <a class="text-muted" href="https://play.google.com/store/apps/details?id=uk.ac.ncl.di.bootlegger">Download Android App</a> | <span>&copy; Bootlegger 2015</span>
      </div>
    </div>

    <script>
    $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
    </script>
    
  </body>
</html>